<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="uiGridCss">
    <p-table #dt [columns]="cols" [value]="data" [responsive]="true" [scrollable]="true" [paginator]="true" [rows]="19">
      <ng-template pTemplate="caption">

        <div class="gridHeader">
          <div class="clear"></div>

          <ion-grid>
            <ion-row>
              <ion-col text-center text-md-right>
                <button ion-button (click)="openDistributorForm()">Add Row</button>
                <button ion-button (click)="dt.exportCSV()">Export</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{col.header}}</span>
            {{rowData[col.field]}}
          </td>
          <td class="actionColText">
            <a href="javascript:;" class="editBtn">
              <ion-icon name="create"></ion-icon>
            </a>
            <a href="javascript:;" class="editBtn">
              <ion-icon name="add"></ion-icon>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{data?.length}} entries
      </ng-template>
    </p-table>
  </div>

</ion-content>